
@{
    ViewBag.Title = "Index";
}

<h2>Albums content will be added soon</h2>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importBinaryFileModal">
        Import albums (Binary Formatter)
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importJsonFileModal">
        Import albums (NewtonSoft Json)
    </button>
</p>

<div>@(ViewBag.Message)</div>

<div class="modal" id="importBinaryFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import albums from file with Binary Formatter structure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("ImportFromBinaryFile", "Albums", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.TextBox("file", "", new {type = "file"})
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal" id="importJsonFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import albums from file with Binary Formatter structure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("ImportFromJsonFile", "Albums", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.TextBox("file", "", new { type = "file" })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            }
        </div>
    </div>
</div>